.Task {
   display: flex;
   flex-direction: row;
   padding: 13px;
   margin: 2px;
}
.Task:hover{
   background-color: rgb(241, 241, 241);
   border-radius: 2px;
   transition: background-color 0.2s;
}

.description {
   width: 100%;
}

.checkboxContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 10px 0px 0px;
}

.deteleContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.highTask {
   background-color: #f2dede;
   color: #a94442;
   border: 1px solid #ebccd1;
}

.middleTask {
   background-color: #fcf8e3;
   color: #8a6d3b;
   border: 1px solid #faebcc;
}

.lowTask {
   background-color: #deefd7;
   color: #3c763d;
   border: 1px solid #d6e9c6;
}

.marginRight {
   margin-right: 10px;
}