.CreateTask {
   display: flex;
   justify-content: space-between;
   margin: 30px 0px;
}

.inputContainer {
   border: 1px hsl(0, 0%, 74%) solid;
   padding: 8px 12px;
   width: 90%;
   border-radius: 4px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.inputContainer:hover{
   background-color: #f6f6f6;
   transition: background-color 0.05s;
}

.input {
   all: unset;
   height: 20px;
   width: 100%;
}

.buttonSubmit {
   margin-left: 10px;
}

.buttonText {
   margin-left: 7px;
   font-size: 14px;
}

@media only screen and (max-width: 650px) {
   .buttonText {
      display: none;
   }

   .icon {
      margin: 0;
   }
}

.borderStyle {
   border-color: red;
}