.TaskListContainer {
   width: 100%;
   box-sizing: border-box;
   background-color: #FFFFFF;
   border: 1px hsl(0, 0%, 74%) solid;
   margin: 30px 0px;
}

.buttonContainer {
   padding: 21px 15px;
   font-weight: 500;
   font-size: 17px;
   display: flex;
   justify-content: start;
   align-items: center;
}

.hr {
   border: 1px hsl(0, 0%, 74%) solid;
   margin: 0px;
}

.hr2 {
   border: 1px hsl(0, 0%, 74%) solid;
   margin: 0px 15px;
}

.button{
   padding: 8px;
   background-color: #fff;
   color: #1890FF;
   border: 1px solid #1890FF;
   width: 100px;
   margin-left: 10px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttonSelected{
   padding: 8px;
   background-color: #1890FF;
   color: #fff;
   border: 1px solid #fff;
   width: 100px;
   margin-left: 10px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.paginationContainer{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
}

@media only screen and (max-width: 650px) {
   .buttonContainer {
      flex-direction: column;

   }
   .button{
      margin-left: 0px;
      margin-top: 2px;
   }
}